body {
  background-color: #fff0f5;
  font-family: "Courier New", monospace;
  color: #a10000;
}
form {
  border: 3px dashed #a10000;
  padding: 20px;
  background-color: #ffd9db;
  border-radius: 0;
}
